<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<%= form_for(@user_session,:html=>{:class=>'form-signin'}) do |f| %>
			<legend class="form-signin-heading">Please sign in</legend>
		  <%= f.text_field :primary_phone, :class=>"form-control", :placeholder=>"phone number", :autofocus=>true %><br />
		  <%= f.password_field :password, :class=>"form-control", :placeholder=>"password" %>
		  <br />
		  <%= f.submit "Sign In", :class=>'btn btn-lg btn-default btn-block' %>
		  Don't have an account yet? <a href=<%= register_path %>>Sign Up!</a>
		<% end %>
	</div>
</div>